* {
  margin: 0;
  padding: 0;
}

html {  
  font-family: "MS Trebuchet", Arial, sans-serif;
}

body {
  background: #f6eff9 url(images/box.png) repeat;
  /*scroll/fixed top left/top center/top right/center left/center center/center right/bottom left/bottom center/bottom right/x-% y-%/x-pos y-pos;*/
}

header {
  width: 100%;
  height: 176px;
  overflow: hidden;
  background-image: url(images/greece.png);
  background-repeat: no-repeat;
}

#my-name {
  text-align: center;
  font-size: 50px;
}

#container {
  width: 630px;
  margin: 20px auto 0 auto;
}

.content {
  text-align: center;
  float: left;
  margin: 5px;
  height: 400px;
  width: 200px;
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter:alpha(opacity=5);
}

.inside {
  position: relative;
  float: left;
  margin-left: -200px;
  width: 200px;
}
.content h2 {
  margin: 5px;
}

#professional {
  background-color: #ddddff;
}

#social {
  background-color: #ffdddd;
}
#personal {
  background-color: #ddffdd;
}