* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Imprima', sans-serif;
  font-size: 16px;
}

body {
  background-color: #fafafa;
}

.cover {
  background-color: black;
  opacity: 0;
  width: 100%;
  height: 150%;
  position: fixed;
  margin-top: -20px;
  padding: 0;
}

.loader {
  opacity: 0;
  position: fixed;
  left: 48%;
  top: 40%;
}

.search_div {
  width: 500px;
  margin: 20px auto;
}
  .search_div form {
    width: 400px;
    margin: 0 auto;
  }
  .search_div #search {
    font-family: 'Imprima', sans-serif;
    text-align: center;
    font-size: 28px;
    height: 40px;
    width: 100%;
    margin: 0 auto;
  }

header {
  margin: 10px auto;
  background-image: url("header.png");
  width: 500px;
  height: 150px;
}

.outputs {
  width: 600px;
  margin: 0 auto;
}
  .entry_output {
    margin: 15px 0;
  }
    .source {
      height: 215px;
      float: left;
    }
      .source p {
        text-align: center;
        font-size: 12px;
        height: 15px;
      }
      .score {
        font-size: 30px;
        text-align: center;
        position: relative;
        margin-top: -32px;
      }
      .fill {
        border: 1px solid;
      }
      .dem {
        opacity: .3;
      }
    .imdb, .rt, .netflix, .filmcrave {
      width: 25%;
    }
      .imdb .empty {
        height: 150px;
        /* height(.empty) = 198 - height(.fill) */
      }
      .imdb .fill {
        height: 48px;
        background-color: rgb(255,50,50);
        border-color: rgb(127, 25, 25);
      }
    .movie_footer {
      background-color: #ddd;
      font-size: 25px;
      text-align: center;
      float: left;
      width: 100%;
      min-height: 30px;
      margin-bottom: 10px;
    }


