* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Imprima', sans-serif;
  font-size: 16px;
  color: #161616;
}

body {
  background-color: #fafafa;
}

a:link, a:visited {
  text-decoration: none;
  color: #4444aa;
}
a:hover {
  color: #4444ff;
}

.cover, .loader {
  opacity: 0;
  position: absolute;
  margin-top: 150px;
  z-index: 1000;
}
.cover {
  left: 50%;
  background-color: black;
  width: 250px;
  height: 75px;
  padding: 0;
}
#cover2 {
  margin-left: -250px;
}
.loader {
  left: 48.25%;
  padding-top: 14px;
}

.search_div {
  width: 500px;
  margin: 20px auto;
}
  .search_div form {
    width: 400px;
    margin: 0 auto;
  }
  .search_div #search {
    font-family: 'Imprima', sans-serif;
    text-align: center;
    font-size: 28px;
    height: 40px;
    width: 100%;
    margin: 0 auto;
  }

header {
  margin: 10px auto;
  background-image: url("header.png");
  width: 500px;
  height: 150px;
}

.outputs {
  width: 600px;
  margin: 0 auto;
}
  .entry_output {
    margin: 15px 0;
    height: 245px;
  }
    .scores_output {
      height: 215px;
    }
    .source {
      height: 215px;
      float: left;
    }
      .source p {
        text-align: center;
        font-size: 12px;
        height: 15px;
      }
      .score {
        font-size: 30px;
        text-align: center;
        position: relative;
        margin-top: -32px;
      }
      .fill {
        border: 1px solid;
      }
      .dem {
        opacity: .3;
      }
    .imdb, .rt, .netflix, .filmcrave {
      width: 25%;
    }
      .imdb .empty {
        height: 150px;
        /* height(.empty) = 198 - height(.fill) */
      }
      .imdb .fill {
        height: 48px;
        background-color: rgb(255,50,50);
        border-color: rgb(127, 25, 25);
      }
    .movie_footer {
      overflow: hidden;
      background-color: #ddd;
      font-size: 25px;
      text-align: center;
      float: left;
      width: 100%;
      height: 30px;
      margin-bottom: 10px;
    }

#about_text{
  position: relative;
  bottom: 0px;
  height: 200px;
  text-align: center;
  padding: 20px 20px 0 20px;
  height: 195px;
}

footer {
  text-align: center;
  margin: 20px 0;
}
  .footer_line {
    width: 100%;
    height: 2px;
    /* IE10 */ 
    background-image: -ms-radial-gradient(center, circle farthest-corner, #D8C2FF 0%, #FAFAFA 100%);
    /* Mozilla Firefox */ s
    background-image: -moz-radial-gradient(center, circle farthest-corner, #D8C2FF 0%, #FAFAFA 100%);
    /* Opera */ 
    background-image: -o-radial-gradient(center, circle farthest-corner, #D8C2FF 0%, #FAFAFA 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial,
      center center, 0, center center, 501, color-stop(0, #D8C2FF), color-stop(1, #FAFAFA));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, circle farthest-corner, #D8C2FF 0%, #FAFAFA 100%);
    /* Proposed W3C Markup */ 
    background-image: radial-gradient(center, circle farthest-corner, #D8C2FF 0%, #FAFAFA 100%);
  }

.fav-button {
  background-image: url("heart.png");
  float: right;
  width: 16px;
  height: 16px;
  /*background-color: red;*/
  margin-top: -20px;
  margin-left: 5px;
  display: block;
  position: absolute;
  transition: .3s background-image;
}
.fav-button:hover {
  background-image: url("heart-hover.png");
  cursor: pointer;
}
.fav-button-clicked {
  float: right;
  width: 16px;
  height: 16px;
  /*background-color: red;*/
  margin-top: -20px;
  margin-left: 5px;
  display: block;
  position: absolute;
  background-image: url("heart-hover.png");
  /*transition: .3s background-image;*/
}
/*.fav-button-clicked:hover {
  background-image: url("heart.png");
  cursor: pointer;
}*/

.favorites {
  width: 600px;
  margin: 0 auto;
}